body {
	margin: 0;
	padding: 0px;
	font-family: sans-serif;;
	background-color: #FFFFFF; /* 5f82b1 */
}

.page_container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.environment {
	margin-top: 15px;
	text-align: left;
	border: 3px solid #0066eb;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: white;
	-webkit-box-shadow: 0px 0px 16px -6px #000000;
	box-shadow: 0px 0px 16px -6px #000000;
}


.page_title {
	margin-top: 25px;
	font-size: 30px;
	font-weight: bold;
}

.environment_title {
	background-color: #0066eb;
	padding: 5px;
	font-size: 23px;
	color: white;
	font-weight: bold;
}

.prod_button_text {
	font-weight: bold;
	padding: 10px;
	color: white;
}


.environment_selector_area {
	display: flex; 
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.environment_selector_button {
	width: 175px;
	margin: 10px;
	margin-top: 15px;
	font-size: 10pt;
	text-align: center;
}


.environment_selector_button a {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #055fc0;
}

.environment_selector_button img {
	width: 100px;
	height: 100px;
	opacity: 70%;
	padding-bottom: 10px;
}

.environment_selector_button img:hover {
	opacity: 100%;
	filter: invert(14%) sepia(97%) saturate(3617%) hue-rotate(154deg) brightness(95%) contrast(102%);
}

li {
	margin-bottom: 5px;
}

.quick_link_button {
	width: 175px;
	max-width: 175px;
	margin: 10px;
	font-size: 10pt;
	text-align: center;
	border-radius: 15px;
	padding: 10px;
}

.quick_link_button a {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #055fc0;
}


.quick_link_button img {
	width: 75px;
	height: 75px;
	opacity: 80%;
	padding-bottom: 10px;
}


@media only screen and (max-width: 800px) {
	.page_container {
		width: 100%;
	}

	.section_container {
		width: 100%;
		padding: 0;
	}

	.hidden_on_small_screens {
		display: none;
	}

	.column_33 {
		width: 100% !important;
	}
	
	.column_66 {
		width: 100% !important;
	}

	.article_text {
		width: 100%;
	}

	.environment_selector_button {
		width: 40%;
		margin: 5px;
		margin-bottom: 25px;
	}

	.environment_selector_button img {
		border: 1px solid #A0A0A0;
		background-color: #F0F0F0;
		padding: 15px;
		border-radius: 15px;
		opacity: 100%;
		color: white;
	}

	.big_button img {
		background-color: transparent;
		border: 0;
		padding: 0;
		object-fit: cover;
	}

	.environment_selector_button img:hover {		
		filter: none;
	}

}

.logo {
	height: 135px;
	margin: 10px;
	vertical-align: middle;
	max-width: 400px;
}

.quick_link_section {
	margin: 25px;
	padding: 10px;
	display: flex; 
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.info_section {
	text-align: left;
	overflow: hidden;
	width: 100%;
	font-size: 14pt;
}


.flex {	
	display: flex; 
	justify-content: center;
	flex-wrap: wrap;
}

hr {
	border: 0;
	border-top: 1px solid rgba(0,0,0,0.2)
}

.column_33 {	
	float: left;
	width: 30%;
	margin: 0;
	padding: 0;
}

.column_66 {	
	float: left;
	width: 66%;
	margin: 0;
	padding: 0;
}

li {
	padding-bottom: 0.3em;;
}

.big {
	display: block;
	font-size: 150%;
}

.article_text {
	font-size: 12pt;
	text-align: left;
}

.big_button {
	width: 300px;
}

.big_button a {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #055fc0;
}

.big_button a img {
	width: 300px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
	opacity: 100%;
	padding: 0;
}



.big_button a img:hover {
}

.browser_icon {
	height: 50px !important;
	width: 50px !important;
}

.infobox {
	width: 300px;
	height: 205px;
	padding: 0px;
	border: 2px solid red;
	background-color: #FFEBEB;
	border-radius: 6px;
}
.infobox .infobox-content {
	padding: 5px;
	line-height: 1.5;
	text-align: left;
	font-size: 90%;
}

.infobox .infobox-title {
	margin: 0;
	padding: 5px;
	font-weight: bold;
	font-size: 125%;
	background-color: #FFB0B0;
}